* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #16213e;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 42rem;
  padding: 30px 22px;
}

.container h1 {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
}

.searchBox {
  background-color: #16213e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid;
  border-radius: 8px;
}

.searchBox input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  width: 80%;
}

.searchBox button {
  background-color: #0081a7;
  color: #fff;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.searchBox button:hover {
  background-color: #09b7bd;
}

.details {
  margin-top: 25px;
  background: #16213e;
  padding: 20px 25px;
  border: 1px solid #fff;
  border-radius: 7px;
  display: none;
}

.profile {
  display: flex;
}

.profile-image {
  height: 100px;
  width: 100px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: 100%;
}

.profile-details {
  padding: 10px;
  width: 25rem;
}

.username {
  font-size: 13px;
  color: #09b7bd;
}

.bio {
  font-size: 14px;
  margin-top: 10px;
}

.stats {
  /* background-color: ; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 9px;
}

.media {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.media p {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 13px;
  
}
